//Profile config names for nf-core/configs
params {
    appsConfig {
        deeptmhmm {
            name = "tmhmm"
            dir = '/opt/linux/centos/8.x/x86_64/pkgs/deeptmhmm/1.2'
            has_data = false
            use_gpu = true
        }
        phobius {
            name = "Phobius"
            dir = "/opt/linux/centos/8.x/x86_64/pkgs/phobius/1.01"
            has_data = false
        }
        signalp_euk {
            name = "SignalP-Euk"
            organism = "eukarya"
            dir = "/opt/linux/centos/8.x/x86_64/pkgs/signalp/6.0i-gpu/env/bin"
            mode = "fast"
            has_data = false
            use_gpu = true
        }
        signalp_prok {
            name = "SignalP-Prok"
            organism = "other"
            dir = "/opt/linux/centos/8.x/x86_64/pkgs/signalp/6.0i-gpu/env/bin"
            mode = "fast"
            has_data = false
            use_gpu = true
        }
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/bigdata/stajichlab/shared/singularity_cache"
}

process {
    beforeScript = 'module purge; module load singularity;'
    executor = 'slurm'
    queue = { task.memory >= 500.GB ? 'highmem' : 'epyc' }
    clusterOptions = ''
    resourceLimits = [memory: 612.GB, cpus: 128, time: 720.h]
    withName: INTERPROSCAN:SIGNALP_EUK {
        conda = '/opt/linux/centos/8.x/x86_64/pkgs/signalp/6.0i-gpu/env'
    }
    memory = '32 GB'
    time = '24h'
    withName: INTERPROSCAN:PREPARE_SEQUENCES:VALIDATE_FASTA {
        cpus = 2
        memory = 64.GB
    }
    withLabel: with_gpus {
        maxForks = 1
        queue = 'gpu'
        clusterOptions = '--gres=gpu:1'
    }
}

executor {
    submitRateLimit = '1sec'
}
