//Profile config names for nf-core/configs
params
{
  config_profile_description = 'University of California-Riverside HPCC config provided by nf-core/configs'
  config_profile_contact = 'Jason Stajich (@hyphaltip)'
  config_profile_url = 'https://hpcc.ucr.edu'
  max_memory = 800.GB
  max_cpus = 96
  max_time = 720.h
}

singularity
{
  enabled = true
  autoMounts = true
  cacheDir = "/bigdata/stajichlab/shared/singularity_cache"
}

process
{
  beforeScript = 'module purge; module load singularity;'
  executor = 'slurm'
  queue = {task.memory >= 500.GB ? 'highmem' : 'epyc' }
  clusterOptions = ''
  resourceLimits = [
  	memory: 612.GB,
	cpus: 128,
	time: 720.h
  ]
}

executor
{
  submitRateLimit = '1sec'
}

deeptmhmm {
    name = "tmhmm"
    dir = "/opt/linux/centos/8.x/x86_64/pkgs/deeptmhmm/1.2"    <---- update the dir path
    has_data=false
    use_gpu=true
}
phobius {
    name = "Phobius"
    dir = "/opt/linux/centos/8.x/x86_64/pkgs/phobius/1.01"      <---- update the dir path
    has_data=false
}
signalp_euk {
    name = "SignalP-Euk"
    organism = "eukarya"
    dir = "/opt/linux/centos/8.x/x86_64/pkgs/signalp/6.0h-gpu/env/bin"      <---- update the dir path
    mode = "fast"
    has_data=false
    use_gpu=true
}
signalp_prok {
    name = "SignalP-Prok"
    organism = "other"
    dir = "/opt/linux/centos/8.x/x86_64/pkgs/signalp/6.0h-gpu/env/bin"      <---- update the dir path
    mode = "fast"
    has_data=false
    use_gpu=true
}
